[submodule "operating_system"]
	path = operating_system
	url = ../../ca2/windows-operating_system
	branch = main
[submodule "port"]
	path = port
	url = ../../ca2/windows-build-port-all
	branch = main
[submodule "source"]
	path = source
	url = ../ca2-lowluds-ai-source
	branch = main
